* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #242424;
}

a {
  text-decoration: none;
}

/* Styles bare de navigation */

nav {
  background-color: #24242482;
  height: 9vh;
  padding: 0 2rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

nav .NavLeft {
  display: flex;
  align-items: center;
}

nav .NavLeft a {
  display: flex;
  align-items: center;
}

nav .NavLeft a .logo img {
  margin-right: 0.1rem;
  height: 35px;
}

nav .NavLeft a .vite {
  letter-spacing: 0.1rem;
}

nav .NavLeft .searchbar {
  margin-left: 2.2rem;
  background-color: #1a1a1a;
  padding: 0.6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  border: 1px solid transparent;
}

nav .NavLeft .searchbar:hover {
  border: 1px solid #646cff;
}

nav .NavLeft .searchbar i {
  color: #757575;
  cursor: pointer;
}

nav .NavLeft .searchbar #searchbar {
  background-color: #1a1a1a;
  border: none;
  /* padding: 0.6rem; */
  outline: none;
  width: 4rem;
}

nav .NavLeft .searchbar .commandk {
  border: 1px solid #757575;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

nav .NavLeft .searchbar .commandk p {
  color: #757575;
}

nav .NavRight {
  font-size: 0.9rem;
  display: flex;
  /* align-items: center; */
}

nav .NavRight .NavLiens {
  padding: 0 1rem;
  border-right: 1px solid #757575;
}

nav .NavRight .NavLiens .LienBlue:hover {
  color: #9499ff;
}

nav .NavRight .NavLiens .LienGris:hover {
  color: #999a9a;
}

nav .NavRight .NavLiens a {
  padding: 0 1rem;
  transition: 0.3s;
}

nav .NavRight .NavTrad {
  display: flex;
  padding: 0 1rem;
  border-right: 1px solid #757575;
}

nav .NavRight .NavTrad a {
  display: flex;
}

nav .NavRight .NavTrad img {
  padding-right: 0.4rem;
  height: 1.2rem;
  color: white;
}

nav .NavRight .DarkButton {
  padding: 0 1rem;
  border-right: 1px solid #757575;
  display: flex;
}

nav .NavRight .DarkButton label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background-color: #242424;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}

nav .NavRight .DarkButton label::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 2px;
  background-color: black;
  border-radius: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

nav .NavRight .DarkButton input {
  width: 0;
  height: 0;
  visibility: hidden;
}

nav .NavRight .DarkButton input:checked + label {
  background-color: white;
}

nav .NavRight .DarkButton input:checked + label::after {
  content: "";
  left: 33px;
  background-color: white;
}

nav .NavRight .DarkButton input:checked + label + main {
  background-color: white;
}

/* nav .NavRight .DarkButton button {
  border: none;
  width: 2rem;
  background-color: transparent;
  border: 1px solid #757575;
}

nav .NavRight .DarkButton button i {
  color: black;
} */

nav .NavRight .NavSociaux {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

nav .NavRight .NavSociaux i {
  color: #757575;
  padding-right: 0.8rem;
  font-size: 1.2rem;
  transition: 0.5s;
}

nav .NavRight .NavSociaux i:hover {
  color: white;
}

/* Fin des styles de la barre de nav */

/* Styles pour le header */

header {
  /* height: 100vh; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .HeaderContainer {
  display: flex;
}

header .HeaderContainer .HeaderLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
}

header .HeaderContainer .HeaderLeft h1 {
  font-size: 4rem;
}

header .HeaderContainer .HeaderLeft span {
  color: #757575;
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2rem 0;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a button {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #424242;
  border: 1px solid #545454;
  transition: 0.2s;
  margin-right: 0.4rem;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a button:hover {
  background-color: #545454;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a #BlueBTN {
  padding: 0.8rem 1.4rem;
  background-color: #6f77ff;
  border: 1px solid #8b91ff;
  border-radius: 20px;
  transition: 0.2s;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a #BlueBTN:hover {
  background-color: #8b91ff;
}

header .HeaderContainer .HeaderRight {
  box-shadow: #6f77ff;
}

header .HeaderContainer .HeaderRight img {
  height: 320px;
  border-radius: 50%;
  border-radius: 50%;
  filter: drop-shadow(0 0 50px rgb(100, 108, 255));
  /* background: linear-gradient(-45deg,#ae00ff , #48C7FF ); */
  /* background-image: radial-gradient(#d400ff 20%, #48c7ff 50%, transparent 70%); */
}
