* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
  transition: all 0.3s;
}

body {
  background-color: #242424;
}

a {
  text-decoration: none;
}

/* Styles bare de navigation */

nav {
  background-color: #24242482;
  height: 9vh;
  padding: 0 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .NavLeft {
  display: flex;
  align-items: center;
}

nav .NavLeft a {
  display: flex;
  align-items: center;
}

nav .NavLeft a .logo img {
  margin-right: 0.1rem;
  height: 35px;
}

nav .NavLeft a .vite {
  letter-spacing: 0.1rem;
}

nav .NavLeft .searchbar {
  margin-left: 2.2rem;
  background-color: #1a1a1a;
  padding: 0.6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  border: 1px solid transparent;
}

nav .NavLeft .searchbar:hover {
  border: 1px solid #646cff;
}

nav .NavLeft .searchbar i {
  color: #757575;
  cursor: pointer;
}

nav .NavLeft .searchbar #searchbar {
  background-color: #1a1a1a;
  border: none;
  /* padding: 0.6rem; */
  outline: none;
  width: 4rem;
}

nav .NavLeft .searchbar .commandk {
  border: 1px solid #757575;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

nav .NavLeft .searchbar .commandk p {
  color: #757575;
}

nav .NavRight {
  font-size: 0.9rem;
  display: flex;
  /* align-items: center; */
}

nav .NavRight .NavLiens {
  padding: 0 1rem;
  border-right: 1px solid #757575;
}

nav .NavRight .NavLiens .LienBlue:hover {
  color: #9499ff;
}

nav .NavRight .NavLiens .LienGris:hover {
  color: #999a9a;
}

nav .NavRight .NavLiens a {
  padding: 0 1rem;
  transition: 0.3s;
}

nav .NavRight .NavTrad {
  display: flex;
  padding: 0 1rem;
  border-right: 1px solid #757575;
}

nav .NavRight .NavTrad a {
  display: flex;
}

nav .NavRight .NavTrad img {
  padding-right: 0.4rem;
  height: 1.2rem;
  color: white;
}

nav .NavRight .DarkButton {
  padding: 0 1rem;
  border-right: 1px solid #757575;
  display: flex;
}

nav .NavRight .DarkButton label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background-color: #242424;
  border-radius: 200px;
  filter: drop-shadow(30px 90px 60px #d091fd) drop-shadow(90px -20px 60px #d091fd)
    drop-shadow(-30px -90px 60px #6ecffc) drop-shadow(-90px 20px 60px #6ecffc);
  cursor: pointer;
  transition: all 0.3s;
}

nav .NavRight .DarkButton label::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 2px;
  background-color: black;
  border-radius: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

nav .NavRight .DarkButton input {
  width: 0;
  height: 0;
  visibility: hidden;
}

nav .NavRight .DarkButton input:checked + label {
  background-color: white;
}

nav .NavRight .DarkButton input:checked + label::after {
  content: "";
  left: 33px;
  background-color: white;
}

nav .NavRight .DarkButton input:checked + label + main {
  background-color: white;
}

/* nav .NavRight .DarkButton button {
  border: none;
  width: 2rem;
  background-color: transparent;
  border: 1px solid #757575;
}

nav .NavRight .DarkButton button i {
  color: black;
} */

nav .NavRight .NavSociaux {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

nav .NavRight .NavSociaux i {
  color: #757575;
  padding-right: 0.8rem;
  font-size: 1.2rem;
  transition: 0.5s;
}

nav .NavRight .NavSociaux i:hover {
  color: white;
}

/* Fin des styles de la barre de nav */

/* Styles pour le header */

header {
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

header .HeaderContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

header .HeaderContainer .HeaderLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
}

header .HeaderContainer .HeaderLeft h1 {
  font-size: 4rem;
}

header .HeaderContainer .HeaderLeft #HeaderVite {
  background: linear-gradient(-45deg, #bd34fe 70%, #63a8ff);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .HeaderContainer .HeaderLeft span {
  color: #757575;
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2rem 0;
}

header .HeaderContainer .HeaderLeft .HeaderBTN {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a button {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #424242;
  border: 1px solid #545454;
  transition: 0.2s;
  margin-right: 0.4rem;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a button:hover {
  background-color: #545454;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a #BlueBTN {
  padding: 0.8rem 1.4rem;
  background-color: #6f77ff;
  border: 1px solid #8b91ff;
  border-radius: 20px;
  transition: 0.2s;
}

header .HeaderContainer .HeaderLeft .HeaderBTN a #BlueBTN:hover {
  background-color: #8b91ff;
}

/* header .HeaderContainer .HeaderRight {

} */

header .HeaderContainer .HeaderRight {
  margin-right: 10rem;
}

header .HeaderContainer .HeaderRight img {
  height: 320px;
  border-radius: 50%;
  filter: drop-shadow(0 0 50px rgb(100, 108, 255));
}

/* Style pour le main */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .Aligne,
.Bligne {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

main .Bligne {
  padding-bottom: 6rem;
  border-bottom: 1px solid #2f2f2f;
  width: 100vw;
}

main .main {
  width: 25vw;
  background-color: #2f2f2f;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem 2rem;
}

main .main .img {
  background-color: #202020;
  width: 1vw;
  padding: 1rem;
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

main .main h1 {
  font-size: 1rem;
  padding: 0.6rem 0;
}

main .main p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #777777;
}

main .secondmain {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 90vh; */
}

main .secondmain .smainText {
  display: flex;
  text-align: center;
  flex-direction: column;
}

main .secondmain .smainText i {
  font-size: 30px;
  padding-bottom: 1rem;
  color: #707070;
}

main .secondmain .smainText p {
  line-height: 1.2em;
  color: #9a9a9a;
}

main .secondmain .smainText #possible {
  padding-bottom: 1.5rem;
}

main .secondmain .sponsors {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  /* background-color: red; */
}

main .secondmain .sponsors .platinium {
  background-color: #2f2f2f;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0.2rem;
}

main .secondmain .sponsors .platinium p {
  color: #9a9a9a;
}

main .secondmain .sponsors .spline2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 0.2rem;
  /* padding: 5rem; */
}

main .secondmain .sponsors .spline2 .caseline2 {
  background-color: #2f2f2f;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  padding: 4rem 0;
}

main .secondmain .sponsors .spline2 .caseline2:hover {
  background-color: white;
}

main .secondmain .sponsors .spline2 .caseline2:first-child {
  margin-right: 0.2rem;
}

main .secondmain .sponsors .gold {
  background-color: #2f2f2f;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.2rem;
}

main .secondmain .sponsors .gold p {
  color: #9a9a9a;
}

.spline4,
.spline5 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 0.2rem;
}

.caseline4,
.caseline5 {
  background-color: #2f2f2f;
  text-align: center;
  width: 100%;
  padding: 3rem 0;
  border-right: 0.2rem solid #242424;
}

.anim {
  transition: 0.3s;
}

.anim:hover {
  background-color: white;
}

#line4,
#line5 {
  border: none;
}

#lineleft {
  border-radius: 0 0 0 20px;
}

#line5 {
  border-radius: 0 0 20px 0;
}

main .secondmain .bspons {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2f2f2f;
}

main .secondmain .bspons button {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #9a9a9a;
  padding: 0.8rem;
  border-radius: 50px;
  margin-bottom: 3rem;
  cursor: pointer;
  color: #9a9a9a;
  transition: 0.3s;
}

main .secondmain .bspons button:hover {
  color: #fb1e7b;
  border: 1px solid #fb1e7b;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.8rem;
  color: #9a9a9a;
}

@media screen and (max-width: 1080px) {
  nav .NavLeft .searchbar {
    display: none;
  }

  nav .NavRight {
    display: none;
  }
  nav {
    justify-content: space-between;
  }

  header {
    display: flex;
    align-items: center;
    margin: 0;
  }

  header .HeaderContainer .HeaderLeft {
    width: 80%;
  }

  header .HeaderContainer .HeaderLeft h1 {
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    display: inline;
  }

  header .HeaderContainer .HeaderLeft span {
    text-align: center;
    font-size: 1.2rem;
  }

  header .HeaderContainer .HeaderLeft .HeaderBTN {
    display: flex;
  }

  header .HeaderContainer .HeaderLeft .HeaderBTN button {
    margin-bottom: 0.8rem;
  }

  header .HeaderContainer .HeaderRight {
    margin: 0;
  }

  /* main {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .Aligne {
    display: flex;
    margin-bottom: 0;
  }

  main .main {
    width: 80%;
    margin: 0;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  main .secondmain .smainText {
    font-size: 1rem;
  }

  main .secondmain .sponsors .spline2 {
    flex-direction: column;
    display: grid;
    align-items: center;
    justify-content: stretch;
  }

  main .secondmain .sponsors .spline2 img {
    max-width: 100%;
  }

  main .secondmain .sponsors .spline4 {
    flex-direction: column;
  }

  main .secondmain .sponsors .spline4 img {
    max-width: 100%;
  }

  main .secondmain .sponsors .spline5 {
    flex-direction: column;
  }

  main .secondmain .sponsors .spline5 img {
    max-width: 100%;
  }

  .caseline2 {
    margin-bottom: 0.2rem;
  }
  .caseline4 {
    margin-bottom: 0.2rem;
  }
  .caseline5 {
    margin-bottom: 0.2rem;
  }

  .none {
    display: none;
  }

  #lineleft {
    border-radius: 0;
  }

  #pine {
    border-radius: 0 0 20px 20px;
  }
}

/** Toggle dark mode  */

.active nav {
  background-color: rgba(255, 255, 255, 0.774);
}

.active nav a {
  color: black;
}

.active nav .NavSociaux i:hover {
  color: black;
}

.active {
  background-color: white;
}

.active nav .searchbar {
  border: 1px solid black;
  background-color: white;
}

.active nav .NavLeft .searchbar #searchbar {
  background-color: white;
}

.active .HeaderLeft h1 {
  color: black;
}

.active main .img {
  background-color: #e3e3e5;
}

.active main .main {
  background-color: rgb(240, 240, 240);
}

.active main .main h1,
.active main .main p {
  color: black;
}

.active main .secondmain .sponsors .platinium,
.active main .secondmain .sponsors .spline2 .caseline2,
.active main .secondmain .sponsors .gold,
.active .caseline4,
.active .caseline5 {
  background-color: #f6f6f7;
}
.active main .secondmain .sponsors .spline2 .caseline2:hover {
  background-color: #e3e3e5;
}

.active .caseline4,
.active .caseline5 {
  border-right: 0.2rem solid white;
}

.active .caseline4:hover,
.active .caseline5:hover {
  background-color: #e3e3e5;
}
